<div class="container">
  <h1>DBA Project</h1>
  <div class="row">
    <input type="text" class="form-control col-8">
    <button type="submit" class="btn btn-primary col">submit</button>
  </div>
</div>