<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="icon" href="/school.png">
  <title><%- title %></title>
  <script src="/js/index.js"></script>
</head>
<body>
<div class="container-fluid p-0 m-0">
<%- include('navbar') %>
<%- body %>
</div>
<div class="toast-list" style="position: fixed; top: 5em; right: 5em; left: unset; display: flex; flex-direction: column;"></div>
<div id="toast" class="toast text-white border-0 mb-3" style="display: none;" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex align-items-center">
    <div class="toast-body"></div>
    <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>
<div id="popup" class="text-center p-3"></div>
<div id="outside-popup"></div>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
const show_toast = (str, err = false) => {
  let t = document.querySelector('#toast');
  let tl = document.querySelector('.toast-list');
  let cl = t.cloneNode(true);
  cl.removeAttribute('style');
  cl.removeAttribute('id');
  cl.querySelector('.toast-body').innerText = str;
  let tt = new bootstrap.Toast(cl);
  cl.classList.add(err ? 'bg-danger' : 'bg-success');
  cl.addEventListener('hidden.bs.toast', e => e.target.remove());
  tl.appendChild(cl);
  tt.show();
}
</script>
</body>
</html>
