<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <title><%- title %></title>
  <script src="/js/index.js"></script>
</head>
<body>
<div class="container-fluid p-0 m-0">
<%- include('navbar') %>
<%- body %>
</div>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/reload/reload.js"></script>
</body>
</html>
