<nav class="navbar navbar-dark bg-dark ticky-top">
  <a href="/" class="navbar-brand"><i class="fas fa-school"></i></a>
  <form class="form-inline" id="search">
    <input type="text" class="form-control mr-sm-2" placeholder="Tìm gia sư theo môn học và địa điểm">
    <button type="submit" class="btn btn-success"><i class="fas fa-search"></i></button>
  </form>
  <div class="login">
    <a href="#" class="btn">Đăng nhập</a>
    <a href="#" class="btn btn-outline-primary"></button>Đăng ký</a>
  </div>
</nav>
