.fill {
  min-height: 100% !important;
  /* height: 100%; */
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

#search {
  margin: 0;
  width: 60%;
}

#search input {
  width: 80%;
}